/* 
Name: Jorge Mejia
File Name: styles.css
Date: 8-11-25
*/

body, header, nav, footer {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#css1, #css2, #css3 {
    width: 33%;
    float: left;
    padding: 0 1%;
}

/* footer */
footer {
    text-align: center;
    font-size: 0.85em;
    color: #47476b;
    padding: 1% 0;
    border-top: 3px solid #47476b;
    float: left;
}

body {
    padding: 2%;
    background-color: #d1d1e0;
} 

/* header */
header h1 {
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #47476b;
    text-align: center;
} 

/* nav */
nav {
    background-color: #47476b;
} 

nav ul { margin: 0;} 

nav li {
    display: inline-block;
    font-size: 1.5em; font-family: Verdana, Arial, sans-serif; font-weight: bold;
} 

nav li a { 
    display: block; 
    color: #e3eaf8; 
    padding: 0.5em 2em; 
    text-decoration: none; 
}


/* main */
main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
} 

main p {
    font-size: 1.25em;
}


main h3 {
    padding-top: 2%;
    font-size: 2em;
}

main a {
    color: #47476b;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}