/* 
Name: Jorge Mejia
File: styles.css
Date: 8/12/25
*/

/* css reset */
body, header, nav, ul, li, img, main, footer {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

/* style rules for header */
header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
}

header h3 {
    font-weight: 400;
}

header .hide-mobile {
    display: none;
}

/* style rules for nav */
nav {
    text-align: center;
    background-color: #333;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
    padding: 1em 0;
    border: 1px solid white;
}

nav a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8e8eff;
    padding: 2em 1em;
    font-weight: bold;
}

/* main content */
main {
    padding: 0 0.5em;
}

#home {
    text-align: center;
}

#home h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #333333;
}

#services p {
    font-size: 1em;
    line-height: 1.5;
    padding: 0 1em;
}

#services ul {
    padding: 1em 0;
}

#services li {
    padding: 1em;
}

#services img {
    margin: 0.5em 0;
}

.rounded {
    border-radius: 25px;
}

#contact p {
    padding: 0 1em;
    font-size: 1em;
    line-height: 1.5;
}

.map {
    width: 100%;
}

/* footer content */
footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75em;
}

footer p a {
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #b8b8b8;
}