/* 
Name: Jorge Mejia
File: styles.css
Date: 8/12/25
*/

/* css reset */
body, header, nav, ul, li, img, main, footer, section {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

/* style rules for header */
header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
    background: #622a9b;
    background: linear-gradient(90deg,rgba(98, 42, 155, 1) 0%, rgba(87, 199, 133, 1) 85%);
    padding: 1.5em;
}

header h3 {
    font-weight: 400;
}

header .hide-mobile {
    display: none;
}

/* style rules for nav */
nav {
    text-align: center;
    background-color: #333;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
    padding: 1em 0;
    border: 1px solid white;
}

nav a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8e8eff;
    padding: 2em 1em;
    font-weight: bold;
}

/* main content */
main {
    padding: 0 0.5em;
}

#home {
    text-align: center;
}

#home h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #333333;
}

#services p {
    font-size: 1em;
    line-height: 1.5;
    padding: 0 1em;
}

#services ul {
    padding: 1em 0;
}

#services li {
    padding: 1em;
}

#services img {
    margin: 0.5em 0;
}

.rounded {
    border-radius: 25px;
}

#contact p {
    padding: 0 1em;
    font-size: 1em;
    line-height: 1.5;
}

.map {
    width: 100%;
}

/* footer content */
footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75em;
}

footer p a {
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #b8b8b8;
}

.tablet-img {
    display: none;
}

/* media query for tablet */
@media screen and (min-width: 768px) {
    header {
        padding: 2.5em;
    }

    .tablet-img {
        display: block;
    }

    .mobile-img {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-content: center;
        box-shadow: 5px 5px #888888;
    }

    .card figcaption {
        margin-top: 10px;
        color: #333;
        padding: 1em;
    }
}

/* media query for desktop */
@media screen and (min-width: 1200px) {
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li a:hover {
        font-size: 1.25em;
    }

    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .end {
        justify-self: end;
    }

    .center {
        justify-self: center;
    }
}

/* media query for large screen */
@media screen and (min-width: 1440px) {
    nav li {
        border: none;
    }
}

/* media query for print */
@media print {
    body {
        background: white;
        color: black;
    }
}

